@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;700&family=Press+Start+2P&display=swap');

:root {
    --color-black: #000;
    --color-black-second: #3A4042;
    --color-first: #F25A70;
    --color-second: #7C5E99; 
}

body, h1, h2, h3 {
	margin: 0;
	padding: 0;
}

body {
    font-family: 'Fira Code',  sans-serif;
}


button {
	font-family: inherit; /* inherit herda do pai */
	border: none;
}

/* id uma vez por pagina */