.main-box {
    background-color: var( --color-black-second);
    display: inline-block;
    padding: 40px 44px;
    text-align: center;
    box-shadow: 10px 10px 0 black;
}

.main-box .main-title {
    margin-bottom: 30px;
}